*{
    margin: 0;
    padding: 0;
}

/*-------------------------------------
        0. Websites Footer 
--------------------------------------*/
.footer{
    height: auto;
}
.footer_content{
    height: inherit;
    display: flex;
    justify-content: center;
    padding: 2% 7%;
}
.footer_logo{

}
.footer_logo img{
    width: 320px;
    height: 70px;
}
.footer_information{
    width: 100%;
}
.footer_anchors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.services_footer{
    color: #859098;
    display: flex;
    align-items: flex-end;
}
.services_footer h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0 0 20px;
    font-weight: lighter;
}
.pack_anchors a{
    text-decoration: none;
    color: #859098;
    font-size: 16px;
    border: 1px solid #859098;
    padding: 8px 20px;
}
.pack_anchors{
    margin: 6px;
}
.services_footer p{
    margin: 7px 0;
}
.social_badges{
}
.footer_logo a{
    color: #859098;
    text-decoration: none;
    font-size: 40px;
}
.footer_logo span{
    color: #080b43dd;
}
.address{
    border-top: 1px solid #afb4bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0 0;
}
.add_icons{
    display: flex;
}
.address p{
    color: #afb4bf;
    margin: 5px 20px 5px 10px;
    font-size: 17px;
}
.address a{
    color: #9147bb;
}
.socials{
    color: #859098;
    padding: 0 0 10px;
    
}
.socials p{
    font-size: 10px;
}
.contact_us{
    width: 25%;
    color: #859098;
}
.contact_us h2{
    color: #859098;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0 0 20px;
    font-weight: lighter;
}
.connect{
    display: flex;
}
.numbers{
    color: #859098;
    width: 100%;
    margin: 5px 0 5px 15px;
    align-self: center;
}
.bxl-whatsapp{
    color: #859098;
}
.footer .bx{
    transition: 0.4s;
    font-size: 30px;
    margin: 0 2px;
    color: #859098;
}
.footer .bx:hover{
    color: #00008b;
}