@media (max-width: 810px){
    /* Website footer */
    .footer_content{}
    .footer_anchors{
        padding: 4% 0;
        flex-wrap: wrap;
        text-align: center;
    }
    .social_badges{
        margin: auto;
    }
    .services_footer{
        margin: 3% auto 0;
    }
    .footer_logo img{
        width: 250px;
        height: 52px;
    }
    .pack_anchors{
        margin: 20px 0;
    }
    .address{
        flex-wrap: wrap;
    }
    .add_icons{
       margin: auto;
       display: block;
       text-align: center;
    }
}
@media (max-width: 380px){
    .footer_logo img{
        width: 200px;
        height: 45px;
    }
    .services_footer{
        display: block;
    }
}


 