@media (max-width: 810px){
    /* Scroll to top button */
    #scroll_btn{
        bottom: 0;
        right: 25px;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }
    #scroll_btn i{
        font-size: 35px;
    }
    .nav_content{
        margin: 3% 5% 0;
        display: block;
    }
    .nav_logo{
        margin: 0 auto 1%;
    }
    .nav_menu{
        padding: 3%;
        display: flex;
        justify-content: center;
        /* border-top: 1px solid white; */
    }
    .dropdown_one{
        width: 230px;
        padding: 5px;
        z-index: 1;
        right: 28%;
        margin: 6% 0 0;
    }
}
@media (max-width: 770px) {
    .dropbtn{
       display: none;
    }
}

@media (max-width: 370px){
    .nav_logo{
       text-align: center;
       margin-bottom: 3%;
       width: 220px;
    }
    .nav_logo img{
        width: 240px;
        height: 50px;
    }
    .nav_menu a{
        font-size: 19px;
    }
    .nav_menu{
        padding: 4%;
    }
}

@media (max-width: 290px){
    .nav_logo img{
        width: 230px;
        height: 50px;
    }
    .nav_menu a{
        font-size: 17px;
        margin: 0 8px;
    }
}