@media (max-width: 1350px){
     /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_item1_content{
        flex-wrap: wrap;
    }
    .web_description{
        width: 60%;
        text-align: center;
    }
    .web_description p{
        margin: 3% auto 7%;
    }
    .web_align_image{
        margin: 0 auto;
    }
    .web_align_image{
        width: 55%;
        height: 400px;
        margin: 0 auto;
    }
    .web_anchors img{
        position: relative;
    }


    /*-------------------------------------
            5. Portfolio 
    --------------------------------------*/
    .first_place{
        flex-wrap: wrap;
    }
    .second_place{
        flex-wrap: wrap;
    }


    /*-------------------------------------
            6. Application 
    --------------------------------------*/
    .web_design_frame{
        padding: 3% 0;
        background-position: left;
    }
    .display_flex{
        display: block;
        transform: scale(-1);
    }
    .web_design1{
        margin: 0 auto;
        width: 63%;
        transform: scale(-1);
    }
    .web_img{
        width: 100%;
    }
    .web_img img{
        width: 100%;
        height: 550px;
        position: relative;
    }
}

@media (max-width: 1100px){
    /*-------------------------------------
        1. Main background image 
    --------------------------------------*/
    .bg_content{
        align-items: flex-end;
        padding: 0 6% 11%;
    }

    /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_container{
        margin: 0 0 5%;
    }
    .web_align_image{
        width: 85%;
        height: 400px;
    }
    .web_description{
        width: 85%;
    }

    /*-------------------------------------
            6. Application 
    --------------------------------------*/
    .web_design_frame{
        padding: 3% 0 7%;
    }
    .web_design1{
        margin: 0 auto;
        width: 85%;
    }
    .web_img{
        width: 100%;
    }
    .web_img img{
        width: 100%;
        height: 550px;
        margin-bottom: -5%;
    }

    /*-------------------------------------
        5. Portfolio 
    --------------------------------------*/
    .overlay_anchors{
        display: none;
    }
}

@media (max-width: 810px){
    /*-------------------------------------
        1. Main background image 
    --------------------------------------*/
    .bg_content{
        align-items: flex-end;
        padding: 0 2% 10%;
    }
    .bg_text_inside h2{
        margin: 0 0 2%;
    }
    .bg_text_inside p{
        margin-bottom: 3%;
    }
    .bg_text_inside a{
        padding: 7px 25px;
    }

    /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_anchors img{
        width: 100%;
        height: 380px;
    }

    /*-------------------------------------
            6. Application 
    --------------------------------------*/
    .web_design_frame{
        background-position: left;  
    }
    .web_img img{
        width: 100%;
        height:400px;
    }

    /*-------------------------------------
        3. Enquiries 
    --------------------------------------*/
    .enquired h2{
        font-size: 27px;
    }
    .enquired p{
        font-size: 19px;
        margin-bottom: 4%;
    }  
    .enquired a{
        font-size: 17px;
    }

    /*-------------------------------------
        4. Web Package 
    --------------------------------------*/
    .article_text article{
        margin: 0 0 7% 25px;
    }
    .article_text article:first-child{
        margin: 0 0 7% 25px;
    }

}

@media (max-width: 580px){
    /*-------------------------------------
        1. Main background image 
    --------------------------------------*/
    .bg_text_inside h2{
        font-size: 29px;  
        margin: 0 0 3%;
    }
    .bg_text_inside p{
        font-size: 15px;
        margin-bottom: 7%;
    }
    .bg_text_inside a{
        padding: 7px 20px;
        font-size: 17px;
    }

    /*-------------------------------------
        2. Enquiries 
    --------------------------------------*/
    .enquiry{
        padding: 10% 0;
    }
    .enquired h2{
        font-size: 25px;
    }
    .enquired p{
        font-size: 17px;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    .enquired a{
        font-size: 16px;
        padding: 9px 25px;
    }

    /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_container{
        width: 100%;
    }
    .web_description{
        width: 100%;
    }
    .web_description span i{
        margin: 0 0 30px 0;
        font-size: 25px;
    }
    .web_description h2{
        font-size: 35px;
    }
    .web_description p{
        margin: 4% auto 9%;
        line-height: 28px;
        font-size: 18px;
    }
    .web_description a{
        font-size: 19px;
        padding: 14px 30px;
    }
    .web_align_image{
        width: 100%;
        height: 300px;
    }
    .web_anchors img{
        height: 280px;
    }

    /*-------------------------------------
        6. Application 
    --------------------------------------*/
    .web_design_frame{
        padding: 7% 0;
        height: auto;
    }
    .web_design1{
        width: 100%;
    }
    .web_img{
        width: 100%;
    }
    .web_img img{
        width: 100%;
        height: 360px;
    }
    .web_design1 h2{
        font-size: 42px;
    }
    .web_design1 p{
        margin: 7% auto 0;
        line-height: 32px;
        font-size: 18px;
    }
    .web_button a{
        padding: 15px 35px;
        font-size: 17px;
    }

    /*-------------------------------------
        7. Quote 
    --------------------------------------*/
    .quote_container{
        padding: 90px 0;
    }
    .quote_content{
        text-align: center;

    }
    .quote_para{
        margin-bottom: 35px;
    }
    .quote_para h2{
        font-size: 22px;
    }
    .quote_para p{
        font-size: 16px;
        margin-top: 18px;
    }
    .quote_button a{
        padding: 12px 28px;
        font-size: 17px;
    }

    /*-------------------------------------
        4. Web Package 
    --------------------------------------*/
    .article_container{
        margin: 0 2%;
    }
    .article_text article{
        margin: 0 0 7%;
    }
    .article_text article:first-child{
        margin: 0 0 7%;
    }

}

@media (max-width: 430px){
    /*-------------------------------------
        4. Web Package 
    --------------------------------------*/
    .article_content{
        padding: 5% 0;
    }
    .article_text article h2{
        margin: 10% 0;
        font-size: 38px;
    }
    .article_text article h3{
        margin: 9% 0;
        font-size: 22px;
    }
    .article_text article sup,sub{
        font-size: 22px;
    }
    .article_text article ul li{
        font-size: 17px;
    }

    /*-------------------------------------
        5. Portfolio 
    --------------------------------------*/
    .portfolio_content{
        position: relative;
        width: 270px;
        height: 220px;
        margin: 15px;
    }
}

@media (max-width: 375px){
    /*-------------------------------------
        1. Main background image 
    --------------------------------------*/
    .bg_img{
        height: 70vh;
    }
    .bg_text_inside{
        text-align: center;
    }

    /*-------------------------------------
        6. Application 
    --------------------------------------*/
    .web_img img{
        height: 240px;
    }
    .web_design1 h2{
        font-size: 35px;
    }
    .web_design1 p{
        margin: 4% auto 0;
        line-height: 26px;
        font-size: 16.5px;
    }
    .web_button a{
        padding: 13px 30px;
        font-size: 16.5px;
    }

    /*-------------------------------------
        3. Works Services
    --------------------------------------*/
    .works{
        padding: 0 0 40px;
    }

    /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_description h2{
        font-size: 35px;
    }
    .web_description p{
        margin: 4% auto 12%;
        line-height: 26px;
        font-size: 16.5px;
    }
    .web_description a{
        font-size: 16.5px;
        padding: 13px 30px;
    }
    .web_align_image{
        width: 100%;
        height: 280px;
        margin-top: 10px;
    }
    .web_anchors img{
        height: 250px;
    }

    /*-------------------------------------
        2. Quote 
    --------------------------------------*/
    .quote_button{
        flex-wrap: wrap;
    }
    .quote_button div{
        margin-bottom: 25px;
    }
    .quote_para h2{
        font-size: 23px;
    }

     /*-------------------------------------
        2. Enquiries 
    --------------------------------------*/
    .enquiry{
        padding: 15% 0;
    }
    .enquired p{
        font-size: 17px;
        margin-bottom: 6%;
    }
    .enquired a{
        font-size: 18px;
        padding: 9px 20px;
    }

    /*-------------------------------------
        4. Web Package 
    --------------------------------------*/
    .article_text{
        width: 100%;
    }
    .article_text article{
        width: 450px;
        margin: 0 auto 15%;
    }
    .article_text article:first-child{
        margin: 0 auto 15%;
    }
}

@media (max-width: 330px){
    /*-------------------------------------
        4. Web Development 
    --------------------------------------*/
    .web_description h2{
        font-size: 28px;
    }
    .web_align_image{
        height: 230px;
    }
    .web_anchors img{
        height: 210px;
    }

    /*-------------------------------------
        6. Application 
    --------------------------------------*/
    .web_img img{
        height: 220px;
    }
    .web_design1 h2{
        font-size: 28px;
    }

    /*-------------------------------------
        5. Portfolio 
    --------------------------------------*/
    .portfolio_content{
        position: relative;
        width: 250px;
        height: 200px;
        margin: 15px;
        box-shadow: 0 5px 20px rgba(21,19,19,.4);
        border-radius: 7%;
    }
}