@import url("https://fonts.googleapis.com/css2?family=Combo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Oi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*-------------------------------------
        0. Scroll to top 
--------------------------------------*/
#scroll_btn {
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 25px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(#6d3190, #00008b);
  display: none;
  z-index: 10;
}
#scroll_btn i {
  color: #ffffff;
  font-size: 35px;
}

/*-------------------------------------
        2. Navbar 
--------------------------------------*/
.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(5px);
  background-color: #00000011;
}
.nav_content {
  margin: 1.5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_logo {
  width: 300px;
}
.nav_logo img {
  width: 300px;
  height: 60px;
}
.nav_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
.nav_menu {
}
.nav_menu a {
  color: #fff;
  font-weight: lighter;
  text-decoration: none;
  font-size: 23px;
  margin: 0 15px;
  transition: 0.3s;
}
.nav_menu a:last-child {
  margin: 0 0 0 15px;
}
/*-------------------------------------
        2.1 Dropdown menu 
--------------------------------------*/
.dropdown_one {
  width: 270px;
  padding: 5px;
  background-color: #fff;
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
  z-index: 1;
  right: 80px;
  margin: 2% 0 0;
}
.dropdown_one a {
  display: block;
  padding: 15px 0;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #080b43;
  color: black;
}
.dropdown_one a:hover {
  color: #080b43;
}
.dropbtn {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 6px;
  margin: 0 15px 0 0;
  color: #fff;
  background-color: transparent;
}
.dropdown_one a:last-child {
  border: none;
}
.dropbtn,
.dropbtn::after {
  content: "\25BC";
}
.bx-chevron-down {
  color: black;
  font-size: 25px;
}
#Drop {
  margin: 0 6px 0 15px;
}
#move {
  margin-left: 15px;
}
.show {
  display: block;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 25px !important;
  border: 5px solid lime;
}
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all 0.2s ease-out;
}
.display_none {
  display: none;
}
.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #000;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before,
.fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #000;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff;
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff;
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
  /* .fh5co-nav #fh5co-logo {
    width: 80%;
    margin: 0 auto;
  } */
}
