/*-------------------------------------
        0. Javascript animation 
--------------------------------------*/
.hidden {
  opacity: 0;
  transition: 1s;
}
.image_hide {
  filter: blur(5px);
  transform: translateY(10%);
  transition: 1s;
}
.delay {
  transform: translateX(-20px);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*-------------------------------------
     1. Background image main image
--------------------------------------*/
.bg_img {
  height: 70vh;
  background-image: linear-gradient(
      to right,
      #000000bb,
      #000000bb,
      transparent,
      transparent,
      transparent
    ),
    url("../pic/website12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg_content {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 6%; */
  background-color: #00000077;
}
.bg_text {
}
.bg_text_inside {
}
.bg_text_inside h2 {
  font-size: 45px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
.bg_text_inside p {
  font-size: 20px;
  color: #fff;
  margin: 2% 0;
}
.bg_text_inside a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 9px 23px;
  font-size: 17px;
  transition: ease 0.5s;
  box-shadow: 0 0px 10px rgba(21, 19, 19, 0.1);
}
.bg_text_inside a:hover {
  background-color: #fff;
  color: #000000;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
}
.linear_gradient {
}

/*-------------------------------------
        2. Enquiries 
--------------------------------------*/
.enquiry {
  padding: 6% 0;
  background-color: whitesmoke;
}
.enquired {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.enquired p {
  font-size: 22px;
  margin-bottom: 2.3%;
}
.enquired a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  padding: 10px 40px;
  background-color: transparent;
  text-align: center;
  border: 1px solid black;
  outline: none;
}

/*-------------------------------------
        3. Works Services
--------------------------------------*/
.works {
  padding: 0 0 90px;
}
.works-content {
  margin-top: 73px;
}

/* section-header */
.section-header {
  position: relative;
  text-align: center;
}
.section-header h2 {
  color: #505866;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.section-header h2 span {
  text-transform: lowercase;
}
.section-header p {
  font-size: 16px;
}
/* section-header */
.fix {
  position: relative;
  clear: both;
}
/*=============Style css=========*/

.single-how-works {
  text-align: center;
  padding: 50px 42px;
  border-radius: 3px;
  box-shadow: 0 0px 5px rgba(71, 71, 71, 0.2);
  margin-bottom: 30px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.single-how-works-icon {
  display: inline-block;
  color: #50616c;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #eef2f6;
  border-radius: 50%;
}
.single-how-works h2 a {
  font-size: 18px;
  margin: 35px 0 20px;
}
.single-how-works h2 a span {
  text-transform: lowercase;
}
.single-how-works p {
  margin-bottom: 25px;
  text-transform: initial;
}

.single-how-works-icon [class^="flaticon-"]:before,
.single-how-works-icon [class*=" flaticon-"]:before,
.single-how-works-icon [class^="flaticon-"]:after,
.single-how-works-icon [class*=" flaticon-"]:after {
  font-size: 35px;
}
.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before,
.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before,
.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after,
.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {
  color: #ff545a;
}

.welcome-hero-btn.how-work-btn {
  display: inline-block;
  margin: 0;
  width: 100px;
  height: 35px;
  font-size: 12px;
  background: transparent;
  color: #767f86;
  border: 1px solid #d3d6d9;
  border-radius: 3px;
}

.single-how-works:hover h2 a,
.single-how-works:hover p {
  color: #fff;
}
.single-how-works:hover .single-how-works-icon {
  background: #fff;
}
.single-how-works:hover .welcome-hero-btn.how-work-btn {
  background: #fff;
  color: #ff545a;
}
.single-how-works:hover {
  box-shadow: 0 0px 10px rgba(71, 71, 71, 0.4);
  background: #ff545a;
}

/*-------------------------------------
        4. Web Development 
--------------------------------------*/
.web_container {
  height: auto;
}
.web_content {
}
.web_overlay {
}
.web_item1 {
}
.web_item1_content {
  display: flex;
  position: relative;
}
.web_description span i {
  margin: 0 0 30px 0;
  font-size: 25px;
}
.web_description {
  margin: 4% auto 6%;
  color: black;
  width: 60%;
  /* box-shadow: 0 0px 10px rgba(21,19,19,.1); */
}
.web_description h2 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.web_description p {
  margin: 6% auto 12%;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.web_description a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  padding: 20px 50px;
  background-color: black;
  transition: 0.4s linear;
  text-align: center;
}
.web_description a:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
}
.web_align_image {
  align-self: center;
  text-align: center;
  width: 60%;
  height: 400px;
  margin: 0 0 -7% 0;
}
.web_anchors {
  position: relative;
  height: inherit;
  width: 100%;
}
.web_anchors img {
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*-------------------------------------
        5. Portfolio 
--------------------------------------*/
.web_item2 {
  text-align: center;
  padding: 2% 0 3%;
}
.web_item2 h2 {
  font-size: 40px;
  margin: 0 0 40px;
  font-weight: lighter;
}
.portfolio_container {
}
.portfolio_content {
  position: relative;
  width: 300px;
  height: 260px;
  margin: 15px;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
  border-radius: 7%;
  transition: 0.5s;
}
.portfolio_content img {
  width: 100%;
  height: 100%;
  border-radius: 7%;
}
.portfolio_content:hover {
  box-shadow: 0 0px 10px rgba(21, 19, 19, 0.3);
}
.first_place {
  display: flex;
  justify-content: center;
}
.second_place {
  display: flex;
  justify-content: center;
}
.overlay_anchors {
  width: 300px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  border-radius: 7%;
  margin-right: 3%;
  transition: 0.3s;
  background-image: linear-gradient(#00000055, #00000055);
  /* opacity: 0; */
  display: none;
}
/* .portfolio_content:hover .overlay_anchors{
    opacity: 1;
} */
.overlay_anchors .anchors {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  padding: 11px 15%;
  border-radius: 2px;
  background-color: #00008b;
  transition: 0.2s linear;
}

/*-------------------------------------
        6. Application 
--------------------------------------*/
.web_design {
  margin: 5% 0 0;
}
.web_design_frame {
  height: inherit;
  background-image: url("../pic/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.display_flex {
  display: flex;
}
.web_design1 {
  position: relative;
  padding: 4% 0 0;
  color: white;
  margin: 0 20px;
  width: 50%;
}
.web_img {
  width: 100%;
}
.web_img img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -30%;
  left: 0;
  bottom: 0;
  right: 0;
}
.web_design1 h2 {
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.web_design1 p {
  margin: 7% auto 0;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.web_design1 a:hover {
  background-color: #fff;
  color: black;
}
.web_button {
}
.web_button a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border: none;
  outline: none;
  padding: 15px 35px;
  font-size: 19px;
  transition: ease 0.5s;
  box-shadow: 0 0px 10px rgba(21, 19, 19, 0.1);
}
.web_button a:hover {
  background-color: #fff;
  color: #000000;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
}

/*-------------------------------------
        7. Quote 
--------------------------------------*/
.quote_container {
  padding: 150px 0;
}
#quotation {
  background-color: #6d3190;
}
.quote_content {
  text-align: center;
}
.quote_para {
  margin-bottom: 52px;
}
.quote_para h2 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.quote_para p {
  color: #7b8088;
  font-size: 16px;
  font-weight: 500;
  margin-top: 28px;
}
.quote_para span {
}
.quote_button {
  position: relative;
  max-width: 630px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.quote_button a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border: none;
  outline: none;
  padding: 15px 35px;
  font-size: 19px;
  transition: ease 0.5s;
  box-shadow: 0 0px 10px rgba(21, 19, 19, 0.1);
}
.quote_button a {
  margin: 0 6px;
}
.quote_button a:hover {
  background-color: #fff;
  color: #000000;
  box-shadow: 0 5px 20px rgba(21, 19, 19, 0.4);
}
